body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* Standarts */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

div.wrapper {
    width: 80vw;
    margin: auto;
}


/* navigation */

#site-nav {
  position: relative;
  width: 100%;
  height: 10vh;
  background: #314852;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#site-nav ul li {
  display: inline;
  border-right: solid 1px white;
  padding: 0 10px 0 5px;
}

#site-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

/* #site-nav ul li:last-child {
  border-right: none;
} */

#logo-nav {
  width: 4%;
}

.globe, .search {
  margin-right: 5px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 10px;
  background-color: rgba(255, 0, 0, 0);
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HEADER */

#slideshow {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

#contentwrapper {
  width: 300vw;
  transform: translate3d(0,0, 0);
  transition: transform 0.5s ease-in-out;
}

.content {
  float: left;
  width: 100vw;
  height: 90vh;
  white-space: normal;
  background-repeat: no-repeat;
}

#itemOne {
    background-color: #ADFF2F;
    background: url("http://fred.wf/e-sport/assets/img/gaming.png") center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}
#itemTwo {
    background-color: #FF7F50;
    background: url(../img/AAULAN.png) ;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

}
#itemThree {
    background-color: #1E90FF;
    background: url(../img/teamwork.png) center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

#navLinks {
  text-align: center;
  width: 100%;
  position: absolute;
}

#navLinks ul {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-top: 6px;
}

#navLinks ul li {
  height: 5px;
  width: 5px;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 45px;
}

#navLinks ul li:hover {
  background-color: white;
}

#navLinks ul li.active {
  background-color: #333333;
  color: #FFFFFF;
  outline-width: 7px;
}

#navLinks ul li.active:hover {
  background-color: #484848;
  color: #FFFFFF;
}
 /* .bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('http://fred.wf/e-sport/assets/img/gaming.png') center center no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
} */

#itemOne::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  opacity: .7;
}

#itemTwo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
  background: linear-gradient(to bottom, #243B55, #141E30);
  opacity: .7;
}

#itemThree::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #2c3e50, #486c75);
  background: linear-gradient(to bottom, #2c3e50, #486c75);
  opacity: .7;
}
/* position: absolute;
top: 50%;
left: 10vw;
transform: translate(0, -20%); */

 .slogan {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  z-index: 1;
}

 .slogan h1:first-child {
  background-color: rgba(5, 64, 95, .5);
  color: white;
  font-size: 3.4vw;
  margin: 0;
  width: 20vw;
  padding: 5px 10px 0 10px;
  font-family: 'Work Sans', sans-serif;
}


.innerathlete {
  background-color: rgba(5, 64, 95, .5);
  color: white;
  font-size: 2.5vw;
  margin: 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;

}

.slogan button {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  margin-top: 5%;
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: Transparent;
}

.learn-more:hover {
  background-color: #243440;
}

.knapholder {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.cirkel {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  cursor: pointer;
}

.cirkel:hover {
  opacity: 0.5;
  transform: scale(0.95);
}

.cirkel span {
  content: '';
  width: 16px;
  height: 16px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.cirkel::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/* about e-sportcenter */

h2 {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

p {
  line-height: 1.73;
  color: #f3f1f0;
  margin: 0;
}

#about_esportcenter {
  display: flex;
  position: relative;
  background-color: #243440;
  height: 50vh;
  width: 100%;
  font-size: 0.8vw;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.about-esportcenter-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 5% 3% 10%;
}


.about-esportcenter-heading {
  margin: 0;
  color: white;
  text-align: center;
}

.sep {
  position: relative;
  margin:10px 0 20px 0;
  border-top: 1px solid;
  color: #405d72;
}


.about-esportcenter-video {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 3% 10% 3% 5%;
}

iframe {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* values */

.esport-offers {
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
}

.bootcamp {
  height: 50vh;
  background: #486c75;
}

.bootcamp-text {
  display: flex;
  order: 2;
  width: 50%;
  color: white;
  justify-content: center;
  flex-direction: column;
  margin: 0% 10% 0% 5%;
  box-sizing: border-box;
  font-size: 0.8vw;
}

.section-button {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 1px 0 0 #A8A8A8, inset 0 -1px 0 0 #B3B3B3, inset 0 0 0 1px #D4D4D4, 0 2px 4px 0 #696969;
  -moz-box-shadow: 0 1px 0 0 #A8A8A8, inset 0 -1px 0 0 #B3B3B3, inset 0 0 0 1px #D4D4D4, 0 2px 4px 0 #696969;
  -webkit-box-shadow: 0 1px 0 0 #A8A8A8, inset 0 -1px 0 0 #B3B3B3, inset 0 0 0 1px #D4D4D4, 0 2px 4px 0 #696969;
  text-shadow: 0 1px 0 #FFFFFF;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
}

.bootcamp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  width: 50%;
  margin: 0% 5% 0% 10%;
  box-sizing: border-box;
}

#bootcamppic {
  height: auto;
  width: 70%;
}

.membership {
  height: 50vh;
  background-color: #243440;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
  z-index: 50;
}

.membership-text {
  display: flex;
  width: 50%;
  color: white;
  justify-content: center;
  flex-direction: column;
  margin: 0% 5% 0% 10%;
  box-sizing: border-box;
  font-size: 0.8vw;
}

/* faciliteter */

.polygon-wrapper {
  height: 100vh;
  width: 100%;
}

.polygon-right-faciliteter {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  background-color: #243440;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  transform: scaleZ(1.0001);
  z-index: 20;
}

.polygon-left-faciliteter {
  position: absolute;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  background: url('http://fred.wf/e-sport/assets/img/keyboard.png') center center no-repeat;
  background-size: cover;
  transform: scaleZ(1.0001);
}

.polygon-left-faciliteter::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  opacity: .7;
}

.text-box-polygon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 10vw 0 18.6vw;
  box-sizing: border-box;
  color: #f3f1f0;
}

/* arrangør afsnit */

.polygon-right-arrangør {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  transform: scaleZ(1.0001);
  z-index: 100;
  background: url('../img/arrangør.png') center center no-repeat;
  background-size: cover;
}

.polygon-left-arrangør {
  position: absolute;
  height: 100vh;
  width: 55.6%;
  background-color: #243440;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  transform: scaleZ(1.0001);
}

.polygon-right-arrangør::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  opacity: .7;
}

.text-box-polygon-arrangør {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 18.6vw 0 10vw;
  box-sizing: border-box;
  color: #f3f1f0;
}

/* Vores spil section*/

.vores-spil {
  display: flex;
  flex-direction: column;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  position: relative;
  text-align: center;
  color: white;
  padding: 3% 10% 3% 10%;
}

.spil-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spil {
  height: 425px;
  width: 285px;
  background-color: white;
  box-shadow: 0 15px 12px rgba(0,0,0,0.12);
  margin: 3% 0 3% 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.spil:hover {
  opacity: 0.75;
  transform: scale(0.9);
}


/* footer */

footer {
  display: flex;
  height: 35vh;
  background-color: #192730;
  position: relative;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f3f1f0;
  width: 50%;
  height: 35vh;
  margin: 0 10% 0 10%;
}

.footer-text-wrapper p {
  margin-top: 5%;
}

.footer-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.footer-social-wrapper a {
  margin: 3%;
  font-size: 40px;
  text-decoration: none;
  color: #f3f1f0;
  transition: all 0.3s ease;
}

.footer-social-wrapper a:hover {
  opacity: 0.50;
}

/* SLIDESHOW */

/* Slideshow container */

.slideshow-container {
  position: absolute;
  max-height: 90vh;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

.slidePics {
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}


/* -----------SPORTSPARK----------- */
#site-nav.sportspark{
background: white;
}

#site-nav.sportspark ul li {
border-color: #292929;
}
#site-nav.sportspark ul li a{
  color: #292929;
}

#site-nav.sportspark .dropdown .dropbtn {
    color: black;
}

header.sportspark {
    height: 45vh;
    width: 100%;
    overflow: hidden;
}

header.sportspark img{
    display: block;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin: 2vh auto 2vh auto;
}

section.sportspark_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow:hidden;
}

section div.infobox {
    display: inline-block;
    background: #1966ad;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 400px;
    background: #1966ad;
    margin: 5vh 0 5vh 0;
}

.blok {
    font-size:30px;
    font-weight: 700;
text-align: center;
padding-top: 20%;
}

section.sportspark_nyheder {
    background: green;
    height: 60vh;
    width: 100%;
}

section div.infobox img {
    height: 25vh;
    width: 20vw;
}


section.instagram {
    position: relative;
    background: red;
    height: 40vh;
    width: 100%;
    color: #292929;
}

section#sponsorer {
    background: blue;
    height: 50vh;
    width: 100%;
    color: #292929;
}

div.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

div.sponsor {
    flex: 1 19%;
    height: 200px;
    width: 500px;
    background: green;
    border: solid 2px black;
}

div.sponsor img{
    height: 190px;
    width: 190px;
    overflow: hidden;
}



/* -----------SPORTSPARK----------- */





/* -----------E-SPORTS UNDERSIDER - BOOKNING---------- */

.pakkehelper{
  display:flex;
}

.pakkeholder {
  background-color: white;
  height: 450px;
  width: 300px;
  padding: 10px;
  margin: 5px;
}

.pakkenavn {
  text-align: center;
  font-size: 25px;
  color: black;
}

/* -----------E-SPORTS UNDERSIDER - ARRANGØR----------- */

.for_arrangoerer {
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

header div.slogan_for_arrangoerer {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

.event-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/AAULAN.png) center center no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
}

.event-img::before {
  content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
opacity: .7;
}

header.for_arrangoerer h1.top {
  background-color: rgba(5, 64, 95, .5);
  color: white;
  font-size: 50px;
  margin: 0;
  width: 450px;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  z-index: 10;
}

header.for_arrangoerer h1.bottom {
  background-color: rgba(5, 64, 95, .5);
  color: white;
  font-size: 50px;
  margin: 0;
  width: 690px;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  z-index: 10;
}

section.plads_til_over {
  height: 50vh;
  width: 100%;
  background: #243440;
  position: relative;
}
section.internet {
  height: 50vh;
  width: 100%;
  background: #243440;
  position: relative;
}

section.lige_ved_stationen {
  height: 50vh;
  width: 100%;
  background: #486c75;
  position: relative;
}

.polygon-left {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 55.6%;
  background: #fff;
  background: url(../img/sportshal.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.polygon-left::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2c3e50;
    background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
    background: linear-gradient(to bottom, #486c75, #2c3e50);
    opacity: .5;
}

.polygon-right {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  height: 50vh;
  width: 55.6%;
  background: #243440;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.plads_til_over_tekst {
  text-align: left;
  line-height: 1.73;
  margin: 0 10% 0 25%;
  color: white;

}

.polygon-right-ligevedstationen {
  position: absolute;
  right: 0;
  height: 50vh;
  width: 55.6%;
  background: url(../img/kort.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}

.polygon-right-ligevedstationen::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2c3e50;
    background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
    background: linear-gradient(to bottom, #486c75, #2c3e50);
    opacity: .5;
}

.polygon-left-ligevedstationen {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  height: 50vh;
  width: 55.6%;
  background: #486c75;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

.ligevedstationen-tekst {
  text-align: left;
  line-height: 1.73;
  margin: 0 25% 0% 10%;
  color: white;
}

.polygon-left-internet {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 55.6%;
  background: #fff;
  background: url(../img/fiber-optic.png);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.polygon-left-internet::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2c3e50;
    background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
    background: linear-gradient(to bottom, #486c75, #2c3e50);
    opacity: .5;
}

.polygon-right-internet {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  height: 50vh;
  width: 55.6%;
  background: #243440;
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.internet_tekst {
  text-align: left;
  line-height: 1.73;
  margin: 0% 10% 0% 25%;
  color: white;
}

.planlag-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
}

.planlag-event h2 {
  color: white;
  font-size: 2vw;
}

::placeholder {
  color: white;
}

#form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 3% 10% 3% 10%;
}

input {

  font-family: 'Work Sans', sans-serif;
  font-size: 0.875em;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: rgb(36, 52, 64);
  outline: none;
  color: white;

  border: solid 1px white;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: rgba(36, 52, 64,0.7);
}

textarea {
  font-family: 'Work Sans', sans-serif;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: rgb(36, 52, 64);
  outline: none;

  color: white;
  font-size: 0.875em;

  border: solid 1px white;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
background-color: rgba(36, 52, 64,0.7);
}

#submit {


  font-family: 'Work Sans', sans-serif;
  font-size: 0.875em;
  color: white;

  outline:none;
  cursor: pointer;

  border: solid 1px white;
  border-top: none;
}

#submit:hover {
  background-color: rgba(5, 64, 95, 0.5);
}

/* -----------E-SPORTS UNDERSIDER - ARRANGØR----------- */

/* ESPORT UNDERSIDE - KONTAKT OS */

.kontakt-os {
  height: 90vh;
}

/* bottom */
