body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Standarts */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

/* navigation */

#site-nav {
  width: 100%;
  height: 10vh;
  background: #314852;
  align-items: center;
  justify-content: center;
}

#site-nav button {
  width: 100px;
  height: 40%;
  border-radius: 40px;
  margin-left: 20px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#site-nav ul li {
  display: inline;
  border-right: solid 1px white;
  padding: 0 10px 0 5px;
}

#site-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

#site-nav ul li:last-child {
  border-right: none;
}

#logo-nav {
  width: 4%;
}

.globe,
.search {
  margin-right: 5px;
}

/* HEADER */

header {
  height: 90vh;
  width: 100%;
  overflow: hidden;
}


  .bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('http://fred.wf/e-sport/assets/img/gaming.png') center center no-repeat;
  background-size: cover;
}

  .bg-img::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8ccdc8, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8ccdc8, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .7;
}


.about-esportcenter {
  display: flex;
  position: relative;
  background-color: #243440;
  height: 50vh;
  width: 100%;
}

.about-esportcenter-text {
  width: 50%;
  padding: 50px 50px 50px 50px;
  color: white;
}


.about-esportcenter-video {
  background-color: green;
  width: 50%;
  align-items: center;
  justify-content: center;
}
