body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* Standarts */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

/* navigation */

#site-nav {
  width: 100%;
  height: 10vh;
  background: #314852;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

#site-nav ul li {
  display: inline;
  border-right: solid 1px white;
  padding: 0 10px 0 5px;
}

#site-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}

/* #site-nav ul li:last-child {
  border-right: none;
} */

#logo-nav {
  width: 4%;
}

.globe,
.search {
  margin-right: 5px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 10px;
  background-color: rgba(255, 0, 0, 0);
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HEADER */

header {
  height: 90vh;
  width: 100%;
  overflow: hidden;
}



/* .overlay {
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #8ccdc8, #2c3e50);
  background: linear-gradient(to bottom, #8ccdc8, #2c3e50);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


header img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: .2;
} */

  .bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('http://fred.wf/e-sport/assets/img/gaming.png') center center no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
}

  .bg-img::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #8ccdc8, #2c3e50);
  background: linear-gradient(to bottom, #8ccdc8, #2c3e50);
  opacity: .7;
}

.header-flex {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 70vw;
  justify-content: center;
  margin: auto;
}

.slogan {
  position: absolute;
  top: 50%;
  left: 10vw;
  transform: translate(0, -20%);
}

.slogan h1:first-child {
  background-color: rgba(5,64,95,.5);
  color: white;
  font-size: 70px;
  margin: 0;
  width: 400px;
  padding: 5px 10px 0 10px;
  font-family: 'Work Sans', sans-serif;
}
.innerathlete {
  background-color: rgba(5,64,95,.5);
  color: white;
  font-size: 50px;
  margin: 0;
  width: 690px;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
}
.slogan button {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  color: #333333;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 5%;
  font-size: 20px;
  justify-content: center;
  box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  -moz-box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  -webkit-box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  text-shadow: 0 1px 0 #FFFFFF;
  transition: all 0.3s ease;
}

.learn-more {
  margin: auto;
}

.learn-more:hover, .learn-more:active {
  border: none;
  background-color: #cccccc;
  opacity: 0.75;
  transform: scale(0.95);
}

/* about e-sportcenter */

h2 {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

p {
  line-height: 1.73;
  color: #f3f1f0;
}

.about-esportcenter {
  display: flex;
  position: relative;
  background-color: #243440;
  height: 50vh;
  width: 100%;
}

.about-esportcenter-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 5% 3% 10%;
}

.about-esportcenter-heading {
  margin: 0;
  color: white;
}

.about-esportcenter-video {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 3% 10% 3% 5%;
}

iframe {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* values */

.esport-offers {
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #486c75;
}

.bootcamp {
  height: 50vh;
}

.bootcamp-text {
  display: flex;
  order: 2;
  width: 50%;
  color: white;
  justify-content: center;
  flex-direction: column;
  margin: 0% 10% 0% 5%;
  box-sizing: border-box;
}

.bootcamp-text button {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  -moz-box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  -webkit-box-shadow: 0 1px 0 0 #A8A8A8,inset 0 -1px 0 0 #B3B3B3,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #696969;
  text-shadow: 0 1px 0 #FFFFFF;
  transition: all 0.3s ease;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.bootcamp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  width: 50%;
  margin: 0% 5% 0% 10%;
  box-sizing: border-box;
}

#bootcamppic {
  height: auto;
  width: 70%;

}

.membership {
  height: 50vh;
  background-color: #243440;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,1);
  z-index: 50;
}

.membership-text {
  display: flex;
  width: 50%;
  color: white;
  justify-content: center;
  flex-direction: column;
  margin: 0% 5% 0% 10%;
  box-sizing: border-box;
}

/* faciliteter */

.polygon-wrapper {
  height: 100vh;
  width: 100%;
}

.polygon-right-faciliteter {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  background-color: #243440;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  transform: scaleZ(1.0001);
  z-index: 20;
}


.polygon-left-faciliteter {
  position: absolute;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  background: url('http://fred.wf/e-sport/assets/img/keyboard.png') center center no-repeat;
  background-size: cover;
  transform: scaleZ(1.0001);
}

.polygon-left-faciliteter::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  opacity: .7;
}

.text-box-polygon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 10vw 0 18.6vw;
  box-sizing: border-box;
  color: #f3f1f0;
}

/* arrangør afsnit */

.polygon-right-arrangør {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 55.6%;
  shape-outside: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  transform: scaleZ(1.0001);
  z-index: 100;
  background: url('../img/arrangør.png') center center no-repeat;
  background-size: cover;
}

.polygon-left-arrangør {
  position: absolute;
  height: 100vh;
  width: 55.6%;
  background-color: #243440;
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  transform: scaleZ(1.0001);
}

.polygon-right-arrangør::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  background: -webkit-linear-gradient(to bottom, #486c75, #2c3e50);
  background: linear-gradient(to bottom, #486c75, #2c3e50);
  opacity: .7;
}

.text-box-polygon-arrangør {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 18.6vw 0 10vw;
  box-sizing: border-box;
  color: #f3f1f0;
}

/* footer */

footer {
  display: flex;
  height: 40vh;
  background-color: #192730;
}

.footer-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f3f1f0;
  width: 50%;
  height: 40vh;
  margin: 0 10% 0 10%;
}

.footer-text-wrapper p {
  margin-top: 5%;
}

.footer-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.footer-social-wrapper a {
  margin: 3%;
  font-size: 40px;
  text-decoration: none;
  color: #f3f1f0;
  transition: all 0.3s ease;
}

.footer-social-wrapper a:hover{
  opacity: 0.50;
}

/* SLIDESHOW */

/* Slideshow container */
.slideshow-container {
  position: absolute;
  max-height: 90vh;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slidePics{
  width:100%;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}









/* -----------E-SPORTS UNDERSIDER - ARRANGØR----------- */

header.for_arrangoerer {
    height: 60vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: url('http://fred.wf/e-sport/assets/img/gaming.png') center center no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
}

header div.slogan_for_arrangoerer{
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

header div.slogan_for_arrangoerer::before{
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    margin: 0;
    background: #2c3e50;
    background: -webkit-linear-gradient(to bottom, #243440, #2c3e50);
    background: linear-gradient(to bottom, #243440, #2c3e50);
    opacity: .7;
}


header.for_arrangoerer h1.top {
    background-color: rgba(5,64,95,.5);
    color: white;
    font-size: 50px;
    margin: 0;
    width: 450px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    z-index: 10;
}

header.for_arrangoerer h1.bottom {
    background-color: rgba(5,64,95,.5);
    color: white;
    font-size: 50px;
    margin: 0;
    width: 690px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    z-index: 10;
}


section.plads_til_over {
    height: 40vh;
    width: 100vw;
    background: #243440;
    position: relative;

}

section.lige_ved_stationen{
    height: 40vh;
    width: 100vw;
    background: #486c75;
    position: relative;
}



/* -----------E-SPORTS UNDERSIDER - ARRANGØR----------- */

























/* bottom */
